<div class="card-transparent bg-dark p-3 text-center">
  <div class="card-header">
    <img
      id="ImgMe"
      class="rounded-circle"
      src="assets/imgs/me.jpg"
      alt="Card image cap"
      width="200"
    />
  </div>
  <div class="card-body">
    <p class="card-text">Welcome to my digital portfolio</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item bg-dark"><h5>Quick links</h5></li>
    <li class="list-group-item bg-dark"><a href="#Aboutme">About me</a></li>
  </ul>
  <div class="card-footer text-muted">Created by Shannon Setter</div>
</div>
