/* You can add global styles to this file, and also import other style files */
body,
html {
  margin: 0px;
  padding: 0px;
  background-color: #005274;
  overflow: hidden;
  background-image: url("assets/imgs/flooring-dark-wood-texture-seamless.jpg");
}

#canvas {
  position: absolute;
  padding: 10%;
  width: 100%;
}

#flipbook {
  padding: 10px;
}
